<div class="container">
  <h2>{{'AUTH.PROFILE_FORM.MY_ACCOUNT' | translate}}</h2>
  <form [formGroup]="profileForm" autocomplete="on">
    <mat-form-field>
      <input matInput placeholder="{{'AUTH.FIRSTNAME' | translate}}" type="text" formControlName="fname"
        autocomplete="family-name" required>
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint *ngIf="!profileForm.get('fname').value">{{'AUTH.ENTER_YOUR_FIRST_NAME' | translate}}</mat-hint>
      <mat-error *ngIf="profileForm.hasError('required', ['fname'])">{{'AUTH.ERROR.YOUR_FIRST_NAME_IS_REQUIRED' |
        translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{'AUTH.LASTNAME' | translate}}" type="text" formControlName="lname"
        autocomplete="given-name" required>
      <mat-icon matSuffix>people</mat-icon>
      <mat-hint *ngIf="!profileForm.get('lname').value">{{'AUTH.ENTER_YOUR_LAST_NAME' | translate}}</mat-hint>
      <mat-error *ngIf="profileForm.hasError('required', ['lname'])">{{'AUTH.ERROR.YOUR_LAST_NAME_IS_REQUIRED' |
        translate}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="tel" matInput placeholder="{{'AUTH.TELEPHONE' | translate}}" formControlName="phone"
        autocomplete="tel" required>
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint *ngIf="!profileForm.get('phone').value">{{'AUTH.ENTER_YOUR_PHONE_NUMBER' | translate}}</mat-hint>
      <mat-error *ngIf="profileForm.hasError('required', ['phone'])">{{'AUTH.ERROR.AN_PHONE_NUMBER_IS_REQUIRED' |
        translate}}</mat-error>
      <mat-error *ngIf="profileForm.hasError('phone', ['phone'])">{{'AUTH.ERROR.PHONE_NUMBER_FORMAT' |
        translate}}</mat-error>
    </mat-form-field>

    <div class="profile-picture">
      <label>{{'AUTH.PROFILE_FORM.PROFILE_PICTURE' | translate}}</label>
      <app-avatar [url]="currentAvatarUrl" (loaded)="onAvatarUpload($event)" (uploaded)="onAvatarUploadComplete($event)"
        (removed)="onAvatarRemove()">
      </app-avatar>
    </div>

    <button mat-raised-button color="primary" (click)="editProfile()"
      [disabled]="loading.loading || !profileForm.valid">{{'AUTH.PROFILE_FORM.SAVE' | translate}}</button>
    <button mat-raised-button (click)="signOut()" class="signout">{{'AUTH.SIGN_OUT' | translate}}</button>
  </form>
</div>
