<form [formGroup]="verifypasswordForm" (ngSubmit)="onResetPassword(verifypasswordForm.value)" novalidate
  autocomplete="off">
  <h2>{{'AUTH.VERIFY_PASSWORD_FORM.RESET_PASSWORD' | translate}}</h2>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="{{'AUTH.EMAIL' | translate}}" type="email" autocomplete="email"
      required>
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint *ngIf="!verifypasswordForm.get('email').value">{{'AUTH.ENTER_YOUR_EMAIL_ADRESS' | translate}}</mat-hint>
    <mat-error *ngIf="verifypasswordForm.hasError('required', ['email'])">{{'AUTH.ERROR.AN_EMAIL_IS_REQUIRED' |
          translate}}</mat-error>
    <mat-error *ngIf="verifypasswordForm.hasError('email', ['email'])">{{'AUTH.ERROR.PLEASE_ENTER_A_VALID_EMAIL_ADDRESS' |
          translate}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="verificationCode" placeholder="{{'AUTH.CONFIRMATION_CODE' | translate}}"
      type="text" autocomplete="off" required>
    <mat-icon matSuffix>security</mat-icon>
    <mat-error *ngIf="verifypasswordForm.hasError('required', ['verificationCode'])">
      {{'AUTH.ERROR.AN_CONFIRMATION_CODE_IS_REQUIRED' | translate}}</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput formControlName="password" placeholder="{{'AUTH.PASSWORD' | translate}}"
      [type]="hide ? 'password' : 'text'" autocomplete="off" required autocomplete="new-password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="verifypasswordForm.hasError('required', ['password'])">{{'AUTH.ERROR.AN_PASSWORD_IS_REQUIRED' |
                    translate}}</mat-error>
    <mat-error *ngIf="verifypasswordForm.hasError('regexerror', ['password'])">{{'AUTH.ERROR.THE_PASSWORD_DOES_NOT_MEET_THE_PASSWORT_POLICY_REQUIREMENTS' |
          translate}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="confirmedPassword" placeholder="{{'AUTH.CONFIRM_PASSWORD' | translate}}"
      [type]="hide ? 'password' : 'text'" autocomplete="off" required autocomplete="new-password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="verifypasswordForm.hasError('required', ['confirmedPassword'])">{{'AUTH.ERROR.AN_CONFIRM_PASSWORD_IS_REQUIRED'
                    | translate}}</mat-error>
    <mat-error *ngIf="verifypasswordForm.hasError('MatchPassword', ['confirmedPassword'])">{{'AUTH.ERROR.CONFIRM_PASSWORD_DO_NOT_MATCH'
                    | translate}}</mat-error>
  </mat-form-field>
  <button mat-flat-button class="submit-button" color="primary" type="submit" [disabled]="!verifypasswordForm.valid">
    {{'AUTH.VERIFY_PASSWORD_FORM.SEND_PASSWORT' | translate}} </button>
</form>
