<form [formGroup]="signupForm" (ngSubmit)="OnSignUp(signupForm.value)" novalidate>
  <h2>{{'AUTH.SIGN_UP_FORM.CREATE_ACCOUNT' | translate}}</h2>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.EMAIL' | translate}}" type="email" formControlName="email" autocomplete="email"
      required>
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint *ngIf="!signupForm.get('email').value">{{'AUTH.ENTER_YOUR_EMAIL_ADRESS' | translate}}</mat-hint>
    <mat-error *ngIf="signupForm.hasError('required', ['email'])">{{'AUTH.ERROR.AN_EMAIL_IS_REQUIRED' |
      translate}}</mat-error>
    <mat-error *ngIf="signupForm.hasError('email', ['email'])">{{'AUTH.ERROR.PLEASE_ENTER_A_VALID_EMAIL_ADDRESS' |
      translate}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.TELEPHONE' | translate}}" type="tel" formControlName="phone" autocomplete="tel"
      required>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint *ngIf="!signupForm.get('phone').value">{{'AUTH.ENTER_YOUR_PHONE_NUMBER' | translate}}</mat-hint>
    <mat-error *ngIf="signupForm.hasError('required', ['phone'])">{{'AUTH.ERROR.AN_PHONE_NUMBER_IS_REQUIRED' |
      translate}}</mat-error>
    <mat-error *ngIf="signupForm.hasError('phone', ['phone'])">{{'AUTH.ERROR.PHONE_NUMBER_FORMAT' |
      translate}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.FIRSTNAME' | translate}}" type="text" formControlName="fname"
      autocomplete="given-name" required>
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint *ngIf="!signupForm.get('fname').value">{{'AUTH.ENTER_YOUR_FIRST_NAME' | translate}}</mat-hint>
    <mat-error *ngIf="signupForm.hasError('required', ['fname'])">{{'AUTH.ERROR.YOUR_FIRST_NAME_IS_REQUIRED' |
      translate}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.LASTNAME' | translate}}" type="text" formControlName="lname"
      autocomplete="family-name" required>
    <mat-icon matSuffix>people</mat-icon>
    <mat-hint *ngIf="!signupForm.get('lname').value">{{'AUTH.ENTER_YOUR_LAST_NAME' | translate}}</mat-hint>
    <mat-error *ngIf="signupForm.hasError('required', ['lname'])">{{'AUTH.ERROR.YOUR_LAST_NAME_IS_REQUIRED' |
      translate}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" placeholder="{{'AUTH.PASSWORD' | translate}}"
      [type]="hide ? 'password' : 'text'" autocomplete="off" required autocomplete="new-password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-hint *ngIf="!signupForm.get('password').value">{{'AUTH.ENTER_A_SECURE_PASSWORD' | translate}}</mat-hint>
    <mat-error *ngIf="signupForm.hasError('required', ['password'])">{{'AUTH.ERROR.AN_PASSWORD_IS_REQUIRED' |
        translate}}</mat-error>
    <mat-error *ngIf="signupForm.hasError('regexerror', ['password'])">{{'AUTH.ERROR.THE_PASSWORD_DOES_NOT_MEET_THE_PASSWORT_POLICY_REQUIREMENTS' |
        translate}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="confirmedPassword" placeholder="{{'AUTH.CONFIRM_PASSWORD' | translate}}"
      [type]="hide ? 'password' : 'text'" autocomplete="off" required autocomplete="new-password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-hint *ngIf="!signupForm.get('confirmedPassword').value">{{'AUTH.REPEAT_YOUR_SECURE_PASSWORD' | translate}}
    </mat-hint>
    <mat-error *ngIf="signupForm.hasError('required', ['confirmedPassword'])">{{'AUTH.ERROR.AN_CONFIRM_PASSWORD_IS_REQUIRED'
        | translate}}</mat-error>
    <mat-error *ngIf="signupForm.hasError('MatchPassword', ['confirmedPassword'])">{{'AUTH.ERROR.CONFIRM_PASSWORD_DO_NOT_MATCH'
        | translate}}</mat-error>
  </mat-form-field>
  <!-- <span *ngIf="errorMessageKey" class="errormessage">{{ errorMessageKey | translate}}</span> -->
  <button mat-raised-button color="primary" [disabled]="!signupForm.valid">{{'AUTH.SIGN_UP' | translate}}</button>
  <p class="center">{{'AUTH.SIGN_UP_FORM.ALREADY_HAVE_AN_ACCOUNT' | translate}} <a
      routerLink="/auth/signin">{{'AUTH.SIGN_IN' | translate}}</a></p>
</form>
