<form [formGroup]="confirmForm" (ngSubmit)="OnConfirmCode(confirmForm.value)" novalidate>
  <h2>{{'AUTH.CONFIRM_CODE_FORM.CONFIRM_YOUR_EMAIL_ADDRESS' | translate}}</h2>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.EMAIL' | translate}}" type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.CONFIRMATION_CODE' | translate}}" type="text" formControlName="code">
    <mat-hint *ngIf="!confirmForm.get('code').value">
      {{'AUTH.CONFIRM_CODE_FORM.ENTER_THE_CONFIRMATION_CODE_THAT_WAS_EMAILED_TO_YOU' | translate}}</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary">{{'AUTH.CONFIRM_CODE_FORM.CONFIRM' | translate}}</button>
  <p>
    {{'AUTH.CONFIRM_CODE_FORM.DIDNT_RECEIVE_A_CODE' | translate}} <a href="javascript:void(null)" (click)="sendAgain()">{{'AUTH.CONFIRM_CODE_FORM.SEND_AGAIN' | translate}}</a>
  </p>
</form>
