<form [formGroup]="resetForm" (ngSubmit)="onForgotPassword(resetForm.value)" novalidate>
  <h2>{{'AUTH.RESET_PASSWORD_FORM.RESET_YOUR_PASSWORD' | translate}}</h2>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.EMAIL' | translate}}" type="email" formControlName="email" autocomplete="email"
      required>
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint *ngIf="!resetForm.get('email').value">{{'AUTH.ENTER_YOUR_EMAIL_ADRESS' | translate}}</mat-hint>
    <mat-error *ngIf="resetForm.hasError('required', ['email'])">{{'AUTH.ERROR.AN_EMAIL_IS_REQUIRED' |
          translate}}</mat-error>
    <mat-error *ngIf="resetForm.hasError('email', ['email'])">{{'AUTH.ERROR.PLEASE_ENTER_A_VALID_EMAIL_ADDRESS' |
          translate}}</mat-error>
  </mat-form-field>

  <button *ngIf="!verificationCodeSent" mat-flat-button class="submit-button" color="primary" type="submit"
    [disabled]="!resetForm.valid">
    {{'AUTH.RESET_PASSWORD_FORM.SEND' | translate}} </button>
</form>
