<div class="content" [innerHTML]="'IOS_INSTALL.HINT' | translate">
  <div class="full-width">
    <mat-icon>arrow_downward</mat-icon>
  </div>
</div>
<button class="btn-close" mat-icon-button (click)="close()" aria-label="Close">
  <mat-icon>close</mat-icon>
</button>
