<form [formGroup]="signinForm" (ngSubmit)="OnSignIn(signinForm.value)" novalidate>
  <h2>{{'AUTH.SIGN_IN_FORM.SIGN_IN_TO_YOUR_ACCOUNT' | translate}}</h2>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.EMAIL' | translate}}" type="email" formControlName="email" autocomplete="email"
      required/>
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint *ngIf="!signinForm.get('email').value">{{'AUTH.ENTER_YOUR_EMAIL_ADRESS' | translate}}</mat-hint>
    <mat-error *ngIf="signinForm.hasError('required', ['email'])">{{'AUTH.ERROR.AN_EMAIL_IS_REQUIRED' |
      translate}}</mat-error>
    <mat-error *ngIf="signinForm.hasError('email', ['email'])">{{'AUTH.ERROR.PLEASE_ENTER_A_VALID_EMAIL_ADDRESS' |
      translate}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'AUTH.PASSWORD' | translate}}" [type]="hide ? 'password' : 'text'"
      formControlName="password" required autocomplete="current-password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-hint *ngIf="!signinForm.get('password').value">{{'AUTH.ENTER_YOUR_PASSWORD' | translate}}</mat-hint>
    <mat-error *ngIf="signinForm.hasError('required', ['password'])">{{'AUTH.ERROR.AN_PASSWORD_IS_REQUIRED' |
      translate}}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!signinForm.valid">{{'AUTH.SIGN_IN' | translate}}</button>
  <p>{{'AUTH.SIGN_IN_FORM.DONT_HAVE_AN_ACCOUNT' | translate}} <a
      routerLink="/auth/signup">{{'AUTH.SIGN_UP' | translate}}</a>
  </p>
  <p>{{'AUTH.SIGN_IN_FORM.FORGOT_PASSWORD' | translate}} <a
      routerLink="/auth/resetpassword">{{'AUTH.RESET_PASSWORD' | translate}}</a>
  </p>
</form>
