@import './theme_variables.scss';

.active {
  color: mat-color($amplify-app-primary);
}

.valid,
.primary {
  color: mat-color($amplify-app-primary);
}

a {
  color: mat-color($amplify-app-accent);
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  width: 100%;
}

form>* {
  margin-bottom: 1.5em;
  width: 100%;
}

.content {
  padding: 0.5em;
}

.sidenav-content {
  flex-direction: column;
}

.sidenav-container {
  height: 90%;
}

.app-content {
  flex: 1;
  margin: 0 auto;
  padding: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}


.error-snackbar {
  background: mat-color($amplify-app-warn);
  color: rgba($color: #FFF, $alpha: 1.0)
}

.warn-snackbar {
  background: mat-color($amplify-app-accent);
  color: rgba($color: #FFF, $alpha: 1.0)
}

.primary-snackbar {
  background: mat-color($amplify-app-primary);
  color: rgba($color: #FFF, $alpha: 1.0)
}

/* debug css
  * {
    outline: solid 0.25rem rgba(0, 0, 0, 0.301);
  }
 */
