@import '~@angular/material/theming';

$md-sample-blue: (50 : #e2edfd,
  100 : #b8d2fa,
  200 : #88b5f7,
  300 : #5897f4,
  400 : #3580f1,
  500 : #116aef,
  600 : #0f62ed,
  700 : #0c57eb,
  800 : #0a4de8,
  900 : #053ce4,
  A100 : #ffffff,
  A200 : #d9e0ff,
  A400 : #a6b7ff,
  A700 : #8ca2ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$md-sample-orange: (50 : #fff1ed,
  100 : #ffdcd1,
  200 : #ffc5b2,
  300 : #ffad93,
  400 : #ff9c7c,
  500 : #ff8a65,
  600 : #ff825d,
  700 : #ff7753,
  800 : #ff6d49,
  900 : #ff5a37,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe6e1,
  A700 : #ffd0c8,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$amplify-app-primary: mat-palette($md-sample-blue);
$amplify-app-accent: mat-palette($md-sample-orange);

// The warn palette is optional (defaults to red).
$amplify-app-warn: mat-palette($mat-red);
