.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1;
}

img.avatar {
  display: block;
  max-height: 36px;
  width: auto;
  height: auto;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
}


