<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let route of nav" [routerLink]="route.path">{{route.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <div class="fill-space"></div>
      <a mat-icon-button routerLink="auth/profile" *ngIf="this.userService.loggedIn$ | async as status; else elseBlock">
        <mat-icon *ngIf="!avatar">account_circle</mat-icon>
        <img *ngIf="avatar" [src]="avatar" alt="User Avatar" class="avatar" />
      </a>
      <ng-template #elseBlock>
        <a mat-icon-button routerLink="auth/signup">
          <mat-icon *ngIf="!avatar">account_circle</mat-icon>
          <img *ngIf="avatar" [src]="avatar" alt="User Avatar" class="avatar" />
        </a>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <ng-content></ng-content> -->
